force-app/main/default/flows/Set_campaign_role.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <choices>
        <name>Add_participant</name>
        <choiceText>Add participant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ADD</stringValue>
        </value>
    </choices>
    <choices>
        <name>AddParticipant</name>
        <choiceText>Add new participant</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Remove_participant</name>
        <choiceText>Remove participant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>REMOVE</stringValue>
        </value>
    </choices>
    <choices>
        <name>RemoveParticipant</name>
        <choiceText>Remove participant</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Add_or_Remove</name>
        <label>Check Add or Remove</label>
        <locationX>514</locationX>
        <locationY>267</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_permission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_participant</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_permission_set</targetReference>
            </connector>
            <label>Add permission</label>
        </rules>
        <rules>
            <name>Remove_permission_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Remove_participant</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_permission_set_0</targetReference>
            </connector>
            <label>Remove permission set</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_permission_set</name>
        <label>check permission set</label>
        <locationX>314</locationX>
        <locationY>271</locationY>
        <defaultConnector>
            <targetReference>aldredy_registered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_permission_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlreadyAsignedVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_permition_set</targetReference>
            </connector>
            <label>No permission set</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_permission_set_0</name>
        <label>check permission set</label>
        <locationX>511</locationX>
        <locationY>421</locationY>
        <defaultConnector>
            <targetReference>aldredy_registered_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_permission_set_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AlreadyAsignedVariable</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_permission</targetReference>
            </connector>
            <label>Permission set available</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PermitionCollecion</name>
        <collectionReference>GetAllPermitionsSets</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>PermissionSet</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UsersCollection</name>
        <collectionReference>GetUsers</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Set campaign role {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Participants</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_permition_set</name>
        <label>Add permition set</label>
        <locationX>113</locationX>
        <locationY>266</locationY>
        <connector>
            <targetReference>Campain_participant_added</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>userIdVariable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>permissionSetIdVariable</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Remove_permission</name>
        <label>Remove permission</label>
        <locationX>754</locationX>
        <locationY>430</locationY>
        <connector>
            <targetReference>Campain_participant_added_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PermissionSetVariableID</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
    </recordDeletes>
    <recordLookups>
        <name>GetAllPermitionsSets</name>
        <label>GetAllPermitionsSets</label>
        <locationX>617</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assigment</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Moderator</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Analyst</stringValue>
            </value>
        </filters>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voter</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUsers</name>
        <label>GetUsers</label>
        <locationX>501</locationX>
        <locationY>67</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllPermitionsSets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Automated Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Data.com Clean</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>SelectedUser</name>
        <label>SelectedUserID</label>
        <locationX>980</locationX>
        <locationY>236</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectPermitionSetID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_User</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>userIdVariable</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SelectPermiionSet</name>
        <label>SelectPermiionSet</label>
        <locationX>689</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Add_or_Remove</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userIdVariable</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>permissionSetIdVariable</elementReference>
            </value>
        </filters>
        <object>PermissionSetAssignment</object>
        <outputAssignments>
            <assignToReference>AlreadyAsignedVariable</assignToReference>
            <field>AssigneeId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PermissionSetVariableID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>SelectPermitionSetID</name>
        <label>SelectPermitionSetID</label>
        <locationX>855</locationX>
        <locationY>224</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectPermiionSet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>permissionSetNameVariable</elementReference>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>permissionSetIdVariable</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>aldredy_registered</name>
        <label>aldredy registered</label>
        <locationX>342</locationX>
        <locationY>519</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>reject</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;This participant has already registered for this role&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>aldredy_registered_0</name>
        <label>aldredy registered</label>
        <locationX>563</locationX>
        <locationY>580</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>reject_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;The selected user is not registered for this role&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Assigment</name>
        <label>Assigment</label>
        <locationX>987</locationX>
        <locationY>117</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SelectedUser</targetReference>
        </connector>
        <fields>
            <name>Select_User</name>
            <choiceReferences>UsersCollection</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select User</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_permition</name>
            <choiceReferences>PermitionCollecion</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select campaign role</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AddorRemove</name>
            <choiceReferences>Add_participant</choiceReferences>
            <choiceReferences>Remove_participant</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select action</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Campain_participant_added</name>
        <label>Campain participant added</label>
        <locationX>112</locationX>
        <locationY>423</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>added</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; font-family: courier;&quot;&gt;The participant was successfully added.One more {!permissionSetNameVariable} on the team .&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Campain_participant_added_0</name>
        <label>Campain participant added</label>
        <locationX>926</locationX>
        <locationY>430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>added_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: courier; font-size: 16px;&quot;&gt;The participant was successfully removed.One {!permissionSetNameVariable} left the team .&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Continue</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>139</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetUsers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ADD</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AllUserIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AlreadyAsignedVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>permissionSetIdVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>permissionSetNameVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Select_permition</elementReference>
        </value>
    </variables>
    <variables>
        <name>PermissionSetVariableID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userIdVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
